<!DOCTYPE HTML>
<html lang="vi" >
<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Tạo tài khoản</h1>
                <input type="text" placeholder="Name" />
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <button>ĐĂNG KÝ</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="/login" method="post">
                <h1>Đăng nhập</h1>
                <input type="text" name="loginname" placeholder="Tên đăng nhập" />
                <input type="password" name="password" placeholder="Mật khẩu" />
                <div id="error-message" th:if="${error}" style="color:red;">
                    <p th:text="${error}"></p>
                </div>
                <a href="/forgotPassword">Quên mật khẩu ?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>CHÀO MỪNG</h1>
                    <p>Học Viện Nông Nghiệp Việt Nam</p>
                    <button class="ghost" id="signUp">Đăng ký</button>
                </div>
            </div>
        </div>
    </div>
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <link rel="stylesheet" th:href="@{/css/background.css}" />
    <script th:src="@{/js/login.js}"></script>
</body>
</html>
</html>
